body {
    margin: 0;
    background-color: #faf6ee;
}

#bookIcon {
    position: fixed;
    top: 0;
    right: 5%;
    font-size: 105%;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    margin-top: 2%;
    padding: 1% 4%;
    width: fit-content;
    cursor: pointer;
    background-color: #ffffff;
    color: black;
    transition: 0.3s;
    z-index: 1000;
}

#bookIcon:hover {
    color: #ffffff;
    background-color: black;
}

#bookIcon.book-tab {
    background-color: black;
    color: #ffffff;
}

#bookIcon.book-tab:hover {
    background-color: #ffffff;
    color: black;
    font-weight: bolder;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    height: fit-content;
    margin-top: 2.5%;
    width: 100%;
    background: transparent;
    z-index: 1000;
}

.header a {
    color: #ffffff;

}

#header a {
    text-decoration: none;
    font-size: 150%;
    font-weight: normal;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.scrolled-header {
    background-color: #faf6ee;
    margin-top: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}

.scrolled-header a {
    color: black;
}

.scrolled-nav {
    background-color: #faf6ee;
    margin-top: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}

.header-slideshow {
    position: relative;
    width: 100%;
    height: 500px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: slideShow 77s infinite linear;
}

.slide:nth-child(1) {
    animation-delay: 0s;
}

.slide:nth-child(2) {
    animation-delay: 7s;
}

.slide:nth-child(3) {
    animation-delay: 14s;
}

.slide:nth-child(4) {
    animation-delay: 21s;
}

.slide:nth-child(5) {
    animation-delay: 28s;
}

.slide:nth-child(6) {
    animation-delay: 35s;
}

.slide:nth-child(7) {
    animation-delay: 42s;
}

.slide:nth-child(8) {
    animation-delay: 49s;
}

.slide:nth-child(9) {
    animation-delay: 56s;
}

.slide:nth-child(10) {
    animation-delay: 63s;
}

.slide:nth-child(11) {
    animation-delay: 70s;
}

@keyframes slideShow {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    9% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.text1 {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.6vw;
    font-weight: normal;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text2 {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-shadow: 0 2PX 5px rgba(0, 0, 0, 0.5);
    width: 80%;
    text-align: center;
    font-size: 4.7vw;
    font-weight: bold;
    font-style: italic;
}

.text3 a {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-shadow: 0 2PX 5px rgba(0, 0, 0, 0.5);
    font-size: 2.4vw;
    font-family: sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-color: grey;
    border-width: 0.5px;
    padding: 1% 4%;
}

.nav-frame {
    position: sticky;
    top: 8%;
    border-bottom-style: groove;
    height: 40px;
    z-index: 900;

}

.nav-frame ul {
    margin-top: 1.5%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;

}

.nav-frame li {
    display: inline-block;
    font-size: 1.5vw;
    margin: 0.5%;
}

.nav-frame li a {
    font-family: sans-serif;
    text-decoration: none;
    color: grey;
    font-weight: bolder;
}

.nav-frame li a:hover {
    color: #212529;
    font-weight: bolder;
}

.content {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    color: #212529;
    line-height: 150%;
    font-size: 140%;
    text-align: center;
    width: 85%;
}

.content-2 {
    color: #212529;
    position: relative;
    left: 15%;
    transform: translate(-8%);
    width: 85%;
    max-width: 80vw;
    padding: 5% 0 0;
}

.h1 {
    font-size: 170%;
    font-weight: bolder;
    padding: 0 0 2%;
    margin: 0;
}

.p1 {
    font-size: 130%;
    margin: 0;
}

.book-link {
    position: relative;
    margin-left: 7%;
    font-family: sans-serif;
    font-size: 120%;
    margin-top: 6%;
}

.first-display {
    position: relative;
    left: 15%;
    transform: translate(-13.5%);
    max-width: 50vw;
    margin-top: 5%;
    height: 60vh;
    margin-bottom: 15%;
}

img {
    position: relative;
}

.img-1 {
    position: absolute;
    left: 15%;
    width: 20vw;
    max-width: 25vw;
    height: 60%;
    border: 10px solid white;
    z-index: 3;
}

.img-2 {
    position: absolute;
    top: 10%;
    width: 28vw;
    max-width: 29vw;
    height: 70%;
    right: 0;
    z-index: 2;
}

.img-3 {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 17vw;
    height: 60%;
    max-width: 25vw;
    z-index: 4;
}

@media (768px <=width <=1170px) {

    #header a {
        font-size: 190%;
    }

    #bookIcon {
        position: fixed;
        top: 0;
        right: 7%;
        width: fit-content;
        padding: 1% 4%;
        font-size: 105%;
    }

    .text3 a {
        font-size: 2.4vw;
    }

    .nav-frame {
        position: sticky;
        top: 8%;
        padding-top: 0.2%;
        border-bottom-style: groove;
    }

    .scrolled-header {
        padding-top: 2.5%;
        padding-bottom: 2%;
    }

    .scrolled-nav {
        padding-top: 1%;
        padding-bottom: 1.5%;
    }

    .content {
        font-size: 140%;
        text-align: center;
        width: 85%;
    }

    .h1 {
        font-size: 170%;
    }

    .content-2 {
        position: relative;
        left: 15%;
        transform: translate(-8%);
        width: 85%;
        max-width: 80vw;
        padding: 5% 0 0;
    }

    .book-link {
        position: relative;
        margin-left: 13%;
        transform: translate(-6.5%);
    }

    .first-display {
        position: relative;
        left: 15%;
        transform: translate(-13.5%);
        max-width: 50vw;
        margin-top: 5%;
        height: 70vh;
    }

    .img-1 {
        width: 20vw;
        height: 70%;
    }

    .img-2 {
        width: 28vw;
        height: 80%;
    }

    .img-3 {
        width: 17vw;
        height: 70%;
    }

}

@media (min-width:1170px) {

    #header a {
        font-size: 210%;
    }

    #bookIcon {
        position: fixed;
        top: 0;
        right: 7%;
        width: fit-content;
        padding: 1% 4%;
        font-size: 105%;
    }

    .text3 a {
        font-size: 2vw;
    }

    .scrolled-header {
        padding-top: 2.5%;
        padding-bottom: 2%;
    }

    .scrolled-nav {
        padding-top: 1%;
        padding-bottom: 1.5%;
    }

    .nav-frame {
        position: sticky;
        top: 10%;
        margin-bottom: 4%;
        padding-bottom: 0.8%;
    }

    .content {
        text-align: center;
        width: 60vw;
        font-size: 170%;
    }

    .h1 {
        font-size: 170%;
    }

    .content-2 {
        position: relative;
        left: 15%;
        transform: translate(-10%);
        width: 33vw;
        font-size: 105%;
        margin-top: 5%;
        padding: 5% 0 0;
    }

    .book-link {
        position: relative;
        left: auto;
        margin-left: 11%;
        margin-bottom: 10%;
    }

    .first-display {
        position: absolute;
        left: auto;
        transform: none;
        right: 6%;
        top: 140%;
        max-width: 42vw;
        height: 70vh;
    }


    .img-1 {
        position: relative;
        left: 10%;
        width: 20vw;
        height: 70%;
        max-width: 25vw;
        border: 10px solid white;
        z-index: 3;
    }

    .img-2 {
        position: absolute;
        top: 10%;
        width: 20vw;
        height: 80%;
        max-width: 29vw;
        left: 50%;
        z-index: 2;
    }

    .img-3 {
        position: relative;
        top: 25%;
        left: -70%;
        width: 17vw;
        height: 60%;
        max-width: 25vw;
        z-index: 4;
    }

}



/* * {
    outline: 1px solid red;
} */