/* * {
    outline: 1px solid red;
} */

.topnav {
    position: fixed;
    top: 0;
    left: 3.5%;
    margin-top: 2.8%;
    height: 100vh;
    z-index: 1500;
}
.topnav #myLinks {
    position: absolute;
    display: block;
    margin-left: 80%;
    width: 510%;
}
#smallContainer {
    display: none;
}
.extra-link{
    position: absolute;
    right: 0;
}
.topnav a {
    background-color:#faf6ee;
    color: grey;
    text-decoration: none;
    font-size:150%;
    font-family: sans-serif;
    height: 10%;
    display: block;
    padding: 3% 0 0;
    font-weight: bolder;
}

.discover a{
    font-size: 127%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.destinations {
    color: #212529;
}

.topnav a#sideBar {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    padding: 0;
    margin-left:20px;
    margin-bottom: 4.5vh;
    color:#faf6ee;
    background-color: transparent;
    font-size: 160%;
}
#closeBtn{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    color: #212529;
    font-weight: lighter;
}

.topnav a:hover {
    color: #212529;
}
.topnav a.icon:hover {
    color:#faf6ee;
}
.legals{
    margin-top: 20%;
}
.legals a{
    color: black;
    font-size:100% ;
}
.legals a:hover {
    color: #000000;
}

.languages{
    margin-top: 18%;
    font-size: 100%;
}
.languages .english{
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
}

.socials{
    margin-top: 18%;
    font-size: 130%;
}
.spotify{
    background-color: #faf6ee;
    border-radius: 50%;
}
.tiktok{
    background-color: black;
    color:#faf6ee;
    border-radius: 40%;
}
.facebook{
    background-color:#faf6ee;
    color: black;
    border-radius: 50%;
}
.instagram{
    background-color: black;
    color: #faf6ee;
    border-radius: 50%;
}
.linkedin{
    background-color: black;
    color: #faf6ee;
    border-radius: 20%;
}
#extraContainer {
    position: inherit;
    top: 12%;
    display: none;
    width: 96.5vw;
    height: 100vh;
    overflow-y: auto;
}

#destLink {
    display: none;
    margin-bottom: 21%;
} 
.commonLink a{
    height: fit-content;
    font-size: 125%;
    color: #000000;
    padding: 1% 0 0;
    margin-bottom: 0.5%;
}
.commonLink a:hover{
    color: black;
}
.sub {
    font-size:75%;
    padding-bottom: 0.2%;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

#foodLink{
    display: none;
    margin-bottom: 21%;
}

#wellLink{
    display: none;
    margin-bottom: 21%;
}

#galLink{
    display: none;
    margin-bottom: 21%;
}

#exitBtn{
    margin-bottom: 0.5%;
    font-weight: lighter;
    display: none;
}
#exitBtn a {
    color: #212529;
    font-weight: bold;
    font-size: 120%;
    padding: 0;
}

#wideContainer {
    display: none;
    position: inherit;
    width: 96.5vw;
    height: 80vh;
    overflow-y: auto;
}
#mySecondLink {
    display: block;
    left:0;
    margin-left: 5%;
    width: max-content;
}
.topnav #mySecondLink a {
    font-size: 150%;
}
.topnav #mySecondLink a:hover {
    color: #000000;
}
#mySecondLink .discover-two a {
    font-size: 130% ;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    font-weight: lighter;
}
#mySecondLink .destinations {
    color: #000000;
}
#wideContainer #extraContainer2nd {
    position: absolute;
    top: 12%;
    left: 0%;
    margin-left:21.8% ;
    display: block;
    width: max-content;
    height: max-content;
}
.extra-link-2nd {
    margin-left:8%;
}
.extra-link-3rd {
    margin-left:20.5%;
}
.extra-link-4th {
    margin-left:36.5%;
}
#destLink2nd {
    display: block;
    margin-bottom: 21%;
} 
.commonLink2nd a{
    height: fit-content;
    width: max-content;
    font-size: 130%;
    color: #000000;
    padding: 6% 0 0%;
    padding-left: 15.2%;
    /* margin-bottom: 4%; */
}
.commonLink2nd a:hover{
    color: black;
}
#foodLink2nd {
    display: none;
    margin-bottom: 21%;
}
#wellLink2nd {
    display: none;
    margin-bottom: 21%;
}
#galLink2nd {
    display: none;
    margin-bottom: 21%;
}

#wideContainer .sidenav-images {
    position: sticky;
    top: 3%;
    margin-top: -16.8%;
    margin-left: 47.5%; 
    width: 50%;
}
.sidenav-images img {
    width: 100%;
    height: 58vh;
}
.sidenav-images .legals{
    display: inline-block;
    margin-top: 4%;
    margin-right: 3%;
    font-size: 105%;
    font-weight: lighter;
}
.sidenav-images .languages {
    position: absolute;
    display:inline-block ;
    margin-top: 4%;
    right: 1%;
    font-size: 105%
}
.sidenav-images .socials {
    display: inline-block;
    margin-top: 0;
    font-size: 110%;
}
.contact1{
    margin-right: 5%;
}

#foodPic {
    display: none;
}
#wellPic {
    display: none;
}
#galPic {
    display: none;
}

#desPicSub1 {
    display: none;
}


.hover-image {
    position: sticky;
    top: 3%;
    margin-top: -16.8%;
    /* margin-top: -57.9%; */
    display: none;
}
