.topnav {
    position: fixed;
    top: 0;
    left: 3.5%;
    margin-top: 2.8%;
    height: 100vh;
    z-index: 1500;
}

/* * {
    outline: 1px solid red;
} */

.topnav #myLinks {
    display: none;
    margin-left: 35px;
    width: 260px;
}
.extra-link{
    position: absolute;
    right: 0;
}
.topnav a {
    background-color:#faf6ee;
    color: grey;
    text-decoration: none;
    font-size:28px;
    font-family: sans-serif;
    height: 40px;
    display: block;
    padding: 5px 0px 0px;
    font-weight: bolder;
}

.discover a{
    font-size: 19px;
    font-family: sans-serif;
    font-weight: lighter;
}
.destinations {
    color: #212529;
}

.topnav a#sideBar {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    padding: 0;
    margin-left: 20px;
    margin-bottom: 4.5vh;
    color:#ffffff;
    background-color: transparent;
    font-size: 4vh;
}
#closeBtn{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    color: #212529;
    font-weight: lighter;
}

.topnav a:hover {
    color: #212529;
}
.topnav a.icon:hover {
    color:#ffffff;
}
.legals{
    margin-top: 50px;
}
.legals a{
    height: 20px;
    color: black;
    font-size:18px ;
}

.languages{
    margin-top: 40px;
}
.languages .english{
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
}

.socials{
    margin-top: 40px;
    font-size: 22px;
}
.spotify{
    background-color: #faf6ee;
    border-radius: 50%;
}
.tiktok{
    background-color: black;
    color:#faf6ee;
    border-radius: 40%;
}
.facebook{
    background-color:#faf6ee;
    color: black;
    border-radius: 50%;
}
.instagram{
    background-color: black;
    color: #faf6ee;
    border-radius: 50%;
}
.linkedin{
    background-color: black;
    color: #faf6ee;
    border-radius: 20%;
}
#extraContainer {
    display: none;
    width: 96.5vw;
    height: 100vh;
    overflow-y: auto;
}

#destLink {
    display: none;
    margin-bottom: 21%;
} 
.commonLink a{
    height: fit-content;
    font-size: 24px;
    color: #000000;
    padding: 3px 0px 9px;
    margin-bottom: 10px;
}
.commonLink a:hover{
    color: black;
}
.sub {
    font-size:14px;
    padding-bottom: 5px;
    font-weight: lighter;
}

#foodLink{
    display: none;
    margin-bottom: 21%;
}

#wellLink{
    display: none;
    margin-bottom: 21%;
}

#galLink{
    display: none;
    margin-bottom: 21%;
}

#exitBtn{
    position: relative;
    font-weight: lighter;
    display: none;
}
#exitBtn a {
    color: #212529;
    font-weight: bold;
    font-size: 20px;
    padding: 0;
}
